# Node
node_modules
package-lock.json

# Frontend
frontend/node_modules
frontend/package-lock.json
# ملاحظة: ما منعنا frontend/dist عشان رح ننسخه من stage 1

# Git
.git
.gitignore

# Editors
.vscode
.idea

# OS files
.DS_Store
Thumbs.db
